<div class="border-left">
  <h3>My question is: <%= params[:question] %></h3>
  <em>- You</em>
</div>
<div class="width alert alert-warning border-left">
  <h3>My answer is: <%= @answer %></h3>
  <em>- Your Coach</em>
</div>
<h6> <%= link_to "ila bghiti trja3 lor ", ask_path  %></h6>
